In [40]:
import pandas as pd
data = open('agr.csv','r')
#print(data)
p = pd.read_csv(data)
p.head()
#p['Name']

,Name,Year,Conflict Stock Displacement,Conflict New Displacements,Disaster New Displacements
0,Afghanistan,2008,NaN,NaN,3400.0
1,Afghanistan,2009,297000.0,NaN,28000.0
2,Afghanistan,2010,352000.0,102000.0,71000.0
3,Afghanistan,2011,450000.0,186000.0,3000.0
4,Afghanistan,2012,492000.0,100000.0,30000.0

In [41]:
p.Name=p.Name.fillna('Afghanistan')

In [42]:
n=p['Name']
l=[]
for name in n:
    l.append(name)
m=list(set(l))

In [47]:
from geopy.geocoders import Nominatim
lat=[]
lon=[]
for names in l:
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(names,timeout=1000000)
    #print((location.latitude, location.longitude))
    if location:
        lat.append(location.latitude)
        lon.append(location.longitude)
    else:
        lat.append(33.7680065)
        lon.append(66.2385139)

In [ ]:
# from geopy.exc import GeocoderTimedOut

# geolocator = Nominatim()
# try:
#     location = geolocator.geocode("Angullia",timeout=None)
#     print(location.latitude, location.longitude)
# except GeocoderTimedOut as e:
#     print("Error: geocode failed on input %s with message %s"%(my_address, e.message))

In [52]:
import pandas as pd
se = pd.Series(lat)
p['latitude'] = se.values


#p.append(lat,column=['latitude'])
#p.append(lon,column=['longitude'])

In [53]:
se = pd.Series(lon)
p['longitude'] = se.values

In [54]:
p

,Name,Year,Conflict Stock Displacement,Conflict New Displacements,Disaster New Displacements,latitude,longitude
0,Afghanistan,2008,NaN,NaN,3400.0,33.768006,66.238514
1,Afghanistan,2009,297000.0,NaN,28000.0,33.768006,66.238514
2,Afghanistan,2010,352000.0,102000.0,71000.0,33.768006,66.238514
3,Afghanistan,2011,450000.0,186000.0,3000.0,33.768006,66.238514
4,Afghanistan,2012,492000.0,100000.0,30000.0,33.768006,66.238514
5,Afghanistan,2013,631000.0,124000.0,15000.0,33.768006,66.238514
6,Afghanistan,2014,805000.0,156000.0,13000.0,33.768006,66.238514
7,Afghanistan,2015,1174000.0,335000.0,71000.0,33.768006,66.238514
8,Afghanistan,2016,1553000.0,653000.0,7400.0,33.768006,66.238514
9,Afghanistan,2017,1286000.0,474000.0,27000.0,33.768006,66.238514
10,Angola,2009,NaN,NaN,86000.0,-11.877577,17.569124
11,Angola,2010,NaN,NaN,79000.0,-11.877577,17.569124
12,Angola,2011,NaN,NaN,227000.0,-11.877577,17.569124
13,Angola,2012,NaN,NaN,6400.0,-11.877577,17.569124
14,Angola,2013,NaN,NaN,2500.0,-11.877577,17.569124
15,Angola,2015,NaN,NaN,5600.0,-11.877577,17.569124
16,Angola,2016,NaN,NaN,19000.0,-11.877577,17.569124
17,Angola,2017,NaN,NaN,14000.0,-11.877577,17.569124
18,Anguilla,2017,NaN,NaN,500.0,18.195495,-63.075023
19,Albania,2009,NaN,NaN,150.0,41.000028,19.999962
20,Albania,2010,NaN,NaN,NaN,41.000028,19.999962
21,Albania,2012,NaN,NaN,NaN,41.000028,19.999962
22,Albania,2013,NaN,NaN,450.0,41.000028,19.999962
23,Albania,2014,NaN,NaN,24.0,41.000028,19.999962
24,Albania,2015,NaN,NaN,4200.0,41.000028,19.999962
25,Albania,2016,NaN,NaN,3100.0,41.000028,19.999962
26,Albania,2017,NaN,NaN,3500.0,41.000028,19.999962
27,United Arab Emirates,2017,NaN,NaN,850.0,24.000249,53.999483
28,Argentina,2008,NaN,NaN,640.0,-34.996496,-64.967282
29,Argentina,2009,NaN,NaN,NaN,-34.996496,-64.967282
...,...,...,...,...,...,...,...
932,"Yemen, Rep.",2015,2509000.0,2175000.0,83000.0,33.768006,66.238514
933,"Yemen, Rep.",2016,1974000.0,478000.0,45000.0,33.768006,66.238514
934,"Yemen, Rep.",2017,2014000.0,160000.0,13.0,33.768006,66.238514
935,South Africa,2008,NaN,NaN,3500.0,-28.816624,24.991639
936,South Africa,2009,NaN,NaN,20000.0,-28.816624,24.991639
937,South Africa,2010,NaN,NaN,6000.0,-28.816624,24.991639
938,South Africa,2011,NaN,NaN,52000.0,-28.816624,24.991639
939,South Africa,2012,NaN,NaN,2000.0,-28.816624,24.991639
940,South Africa,2013,NaN,NaN,18000.0,-28.816624,24.991639
941,South Africa,2014,NaN,NaN,3500.0,-28.816624,24.991639
942,South Africa,2015,NaN,NaN,14.0,-28.816624,24.991639
943,South Africa,2016,NaN,NaN,12000.0,-28.816624,24.991639
944,South Africa,2017,NaN,NaN,15000.0,-28.816624,24.991639
945,Zambia,2008,NaN,NaN,5800.0,-14.518624,27.559916
946,Zambia,2009,NaN,NaN,54000.0,-14.518624,27.559916
947,Zambia,2010,NaN,NaN,150.0,-14.518624,27.559916
948,Zambia,2011,NaN,NaN,NaN,-14.518624,27.559916
949,Zambia,2013,NaN,NaN,5500.0,-14.518624,27.559916
950,Zambia,2014,NaN,NaN,26000.0,-14.518624,27.559916
951,Zambia,2015,NaN,NaN,25.0,-14.518624,27.559916
952,Zambia,2017,NaN,NaN,2800.0,-14.518624,27.559916
953,Zimbabwe,2009,NaN,15000.0,NaN,-18.455496,29.746841
954,Zimbabwe,2010,NaN,NaN,NaN,-18.455496,29.746841
955,Zimbabwe,2011,NaN,NaN,NaN,-18.455496,29.746841
956,Zimbabwe,2012,NaN,280.0,NaN,-18.455496,29.746841
957,Zimbabwe,2013,NaN,NaN,44000.0,-18.455496,29.746841
958,Zimbabwe,2014,NaN,NaN,23000.0,-18.455496,29.746841
959,Zimbabwe,2015,NaN,NaN,800.0,-18.455496,29.746841
960,Zimbabwe,2016,NaN,NaN,400.0,-18.455496,29.746841
961,Zimbabwe,2017,NaN,NaN,10000.0,-18.455496,29.746841

In [59]:
p.to_csv('displace.csv')